body {
    padding-top: 70px;
}

/*navbars*/

.navbar-brand{
   margin-left: 5%;
    margin-right: 0;
}

.bg-light {
    background: #563187 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    background: #f4f4f4;
}

.navbar-light .navbar-collapse {
    justify-content: flex-end;
}

.navbar-light .navbar-toggler {
    background: #fff !important;
}

/* filters */

.input-group {
    margin-right: 20%;
    margin-left: 10%;
}

.ms-n5 {
    margin-left: -95%;
}


.filter {
    border: 2px solid #949899;
    margin-bottom: 1em;
    margin-right: 1em;
    padding: 10px;
    background: #dbe3e3;
}

.result {
    padding: 10px;
    margin-bottom: 1em;
    margin-right: 1em;
    border: 2px solid #949899;
    height: 85vh;
    overflow: auto;
    overflow-x: hidden;
}

/* dropdown */

.dropdown-check-list {
    display: inline-block;
}

.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}

.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
}

.dropdown-check-list ul.items li {
    list-style: none;
}


.dropdown-check-list.visible .items {
    display: block;
}

/* Results */

#btnPrevResAut {
    margin-top: 10px;
}

#btnNextResAut {
    margin-top: 10px;
}

#btnPrevResArt {
    margin-top: 10px;
}

#btnNextResArt {
    margin-top: 10px;
}

/* generic */

.no-decoration {
    list-style: none;
}

.blank-text {
    color: lightgray;
    text-align: center;
    padding: 10px;
}

/* Welcome info */

#welcome_info {
    border: 2px solid #949899;
    margin: 1em 1em 1em 1em;
    width: 96%;
    padding: 10px;
    background: #dbe3e3;
}

#navbar {
    opacity: 0;
    transition: opacity 1s;
}

#bootstrap {
    background-color: #FCFCFC;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    transition: opacity 1s;
}

@media (min-width: 1920px) {

    #bootstrap {
        background-image: url("../galileo.jpg");
        background-repeat: no-repeat;
        background-position: right;
        background-color: rgba(255, 255, 255, 0.3);
    }
}

body {
    background-color: #FCFCFC;
}

#main-body {
    display: none;
}

.date {
    color: #6c757d;
    vertical-align: sub;
    font-size: smaller;
}

.page-number {
    margin: auto;
}

.page-number > span {
    padding: 10px;
}

.page-navigator {
    display: flex;
    justify-content: space-between;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 6px solid;
    border-radius: 50%;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
