{% for author in authors %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingAut{{ loop.index }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseAut{{ loop.index }}" aria-expanded="false"
                    aria-controls="flush-collapseAut{{ loop.index }}" onclick="load_data('{{ author['name'] }}', '{{ author['id'] }}',
                     'flush-collapseAut{{ loop.index }}')">
                {{ author['name'] }}
            </button>
        </h2>
        <div id="flush-collapseAut{{ loop.index }}" class="accordion-collapse collapse"
             aria-labelledby="flush-heading{{ loop.index }}" data-bs-parent="#accordionFlushAutExample">
            <div class="accordion-body"></div>
        </div>
    </div>
{% endfor %}