<div class="row">

    {% if details['picture'] != None %}
        <div class="col-12 col-lg-2">
            <img src="{{ details['picture'] }}" alt="{{ details['name'] }} picture">
        </div>
        <div class="col offset-lg-1">
            <h4>
                Opere:
            </h4>
            <ul class="no-decoration">
                {% for work in details['works'] %}
                    <li>
                        <a class="resource-link" onclick='newSearch( "{{ work[1] }}" );'>
                            {{ work[0] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="col">
            <h4>
                Opere:
            </h4>
            <ul class="no-decoration">
                {% for work in details['works'] %}
                    <li>
                        <a class="resource-link" onclick='newSearch( "{{ work[1] }}" );'>
                            {{ work[0] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>